apiVersion: apps/v1
kind: Deployment
metadata:
  name: invalid-progressDeadlineSeconds
spec:
  minReadySeconds: 10
  paused: false
  progressDeadlineSeconds: "six hundred"  # 錯誤: 應輸入整數
  replicas: 3
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: myapp
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp-container
        image: nginx:latest
